.flex-container-one {
    display: flex;
    color: white;
    background-color: forestgreen;
    padding: 20px 0;
    justify-content: center;
}

.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    align-self: flex-start;
    margin-left: 150px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}


/* for links on all html files */
.links {
    display: flex;
    gap: 15px;
    margin-right: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* bio on about page */
.bio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* for social media links on all html files */
.socials-container {
    display: flex;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: forestgreen;
    margin-top: 40px;
    padding: 20px 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.socials {
    display: flex;
    gap: 15px;
}

/* about page */
.hobbiesContainer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hobbies {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#aboutHeader {
    text-align: center;
}

/* portfolio page */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portHeader {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* contact page */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=email] {
    margin-bottom: 16px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contactForm {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
