.flex-container-one {
    display: flex;
    color: white;
    background-color: forestgreen;
    padding: 20px 0;
    justify-content: center;
}

.name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links {
    display: flex;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.socials {
    display: flex;
    color: white;
    background-color: forestgreen;
    margin: 40px;
    padding 20px 0;
    flex-direction: row;
    justify-content: center;
}
